
body{
  background-color: #0d0d0d;
  text-decoration: uppercase;
}

/*--------------navbar-------------*/

ul li a{
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
  padding: 0 149px;
  display: block;
  text-decoration: none;
  color: #33ff33;
}
li:hover{
  background-color: #33ff33;}

/*--------------container-------------*/
.jumbotron {
  float: right;
  background-color: #0d0d0d;
  margin-top: -5%;
}
.img-fluid{
  max-width 100%;
  height: auto;
}
.jumbotron h1{
  color: #33ff33;
}

.container h1{
  text-align: center;
}
.container p{
  color: #33ff33;
}


/* container image size op iphone */
@media only screen and (max-width: 600px) {
  .img-fluid{
    display: none;
  }
  #h1mathbirb{
    display: none;
  }
  #tafel-resultaat{
    background-color: black;
    border: none;
    color: #33ff33;
    width: 100vw;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
  }

  .navbar-brand{
    display: none;
  }
}

/*--------------javascript-------------*/
.site-main {
    float: left;
}
.site-main h1{
  color: #33ff33;
}
#ipGetPrimes{
  color: black;
  background-color: #33ff33;
}
#ipPrimeNumber{
  color:#33ff33;
  background-color: black;
  padding: 20px;
  font-size: 25px;
}
#dPrimes{
  color:#33ff33;
  background-color: black;
  padding: 10px;
  font-size: 25px;
}

.button {
    background-color: #33ff33;
    border: none;
    color: black;
    padding: 5px 22px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
}
#tafel-resultaat{
  background-color: black;
  border: none;
  color: #33ff33;
  text-decoration: bold;
  display: inline-block;
  padding: 10px 90px;
  font-size: 20px;
}
input {
    margin-left: -4vw;
    margin-top: 21vh;
    position:absolute;
    width: 15vw;
    min-width: 100px;
    left:20%;
}

h2{
    margin-top: 2vh;
    margin-left: 14vw;
    font-size: 2vw;
    text-align: center;
    color: #00ff00;
    float: left;
    position: absolute;
}
h4{
    font-size: 1.5vw;
    margin-top: 10vh;
    margin-left: 15vw;
    text-align: center;
    color: #00ff00;
    float: left;
    position: absolute;
}
#dReeks {
    width: 32vw;
    min-width: 125px;
    margin-top: 32vh;
    position: absolute;    
    left: 8vw;
    border: 1px dashed #808080;
    border-radius: 10px;
    text-align:center;
    padding:10px;
    color: #00ff00;
}
/*priemgetallen */
.form {
    margin-top: 20vh;
    width: 20vw;
    height: 50vh;
    float: left;
    position: absolute;
    
}
#calc{
    margin-left: 55vw;
    margin-top: 1vh;
    position: absolute;
}
#number{
    margin-left: 55vw;
    margin-top: 6vh;
    position: absolute;
}
#output{
    color: #00ff00;
    margin-left: 50vw;
    margin-top: 12vh;
    position: absolute;
    min-width: 125px;
    width: 32vw;
    border: 1px dashed #808080;
    border-radius: 10px;
    text-align:center;
    padding:10px;
    color: #00ff00;
}